src/main/mule/googlesheet.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:google-sheets="http://www.mulesoft.org/schema/mule/google-sheets"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-sheets http://www.mulesoft.org/schema/mule/google-sheets/current/mule-google-sheets.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8cf49426-066b-4f6d-bd68-1709f4b548d2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<google-sheets:config name="Google_Sheets_Config" doc:name="Google Sheets Config" doc:id="ba55d471-28c8-43e4-9f9d-4a9c89688835" >
		<google-sheets:oauth-2-0-connection >
			<google-sheets:oauth-authorization-code consumerKey="900707102860-ffvrpfttpm7vuh3fpg1hqk0kp1pefbro.apps.googleusercontent.com" consumerSecret="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" />
			<google-sheets:oauth-callback-config listenerConfig="HTTP_Listener_config" callbackPath="/oauth2callback" authorizePath="/authorize" externalCallbackUrl="http://localhost:8081/oauth2callback"/>
		</google-sheets:oauth-2-0-connection>
	</google-sheets:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="bd32a2c5-ca7f-4e31-9a78-54e74a92c785" >
		<salesforce:basic-connection username="*******" password="*******" securityToken="SjEVRwMJZsP9nzWD2IAGOcLI2"/>
	</salesforce:sfdc-config>
	<flow name="googlesheetFlow" doc:id="e5db506c-bb55-4f9b-b300-584b3dce5eec" >
		<http:listener doc:name="Listener" doc:id="c7e49c55-5707-4919-819c-751adb3c4f9d" config-ref="HTTP_Listener_config" path="/googlesheet"/>
		<logger level="INFO" doc:name="Logger" doc:id="86e3695c-d23c-459a-95a6-b65d23621ca3" message='"Append values in google sheet:"#[payload]'/>
		<ee:transform doc:name="Transform Message" doc:id="520761b4-6901-4751-a148-2bf7883a7b7a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	majorDimension : payload.majorDimension as String ,
	range :payload.range
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="612352c4-21e4-4f05-ba98-b9457aec32d6" message='"specified  range:"#[payload.range] "and value input option as:" #[vars.message.valueInputOption] "for target spreedsheet:" #[vars.message.spreadSheetId]'/>
		<salesforce:query doc:name="Query" doc:id="39ab4507-a264-46e9-860c-870982ecd639" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Status,CaseNumber,AccountId,ContactId,Priority from Case where sheetStatus__c = 'no']]></salesforce:salesforce-query>
		</salesforce:query>
		<google-sheets:create-spreadsheets-values-rangeappend-by-spreadsheet-id doc:name="Append Spreadsheets Values" doc:id="012156f8-2535-4450-9feb-f60c8e7cc488" config-ref="Google_Sheets_Config" range="A15" insertDataOption="#[vars.message.valueInputOption]" spreadsheetId="1s_NKZhH3xpiRJoKL9uWaN2dQMO18do2wbLZcHtcIWV4"/>
		<ee:transform doc:name="Transform Message" doc:id="90a5412a-ec48-414a-85da-796b909fe5e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : payload.tableRange
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
